/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



/* Estilos gerais */
body {
    background-color: #2d3436;
    color: #333;
    line-height: 1.6;
}

/* Container principal */
.container {
    max-width: 800px;
    margin: 20px auto;
    background: #636e72;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 80%;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

header h1 {
    font-size: 2.5em;
    margin: 10px 0;
    color: #ffffff;
}

header h2 {
    font-size: 1em;
    margin: 5px 0;
    color: #ffffff;
}

header p {
    font-size: 1.2em;
    color: #ffffff;
}

/* Links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
    outline: 2px solid #0056b3;
    outline-offset: 2px;
}

/* Botão do LinkedIn */
.linkedin-button {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px 0;
}

.linkedin-button:hover {
    background-color: #0056b3;
    outline: 2px solid #003d7a;
    outline-offset: 2px;
}

/* Seções */
section {
    padding: 15px;
    background: #f1f2f6;
    border-radius: 8px;
    margin-bottom: 20px;
}

section h2 {
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 15px;
}

/* Lista de habilidades e escolaridade */
ul {
    list-style: disc inside;
    margin-bottom: 15px;
}

ul li {
    margin-bottom: 5px;
}

/* Experiência profissional */
.job {
    margin-bottom: 10px;
}

.job h3 {
    font-size: 1.5em;
    color: #007BFF;
}

.job p {
    margin-bottom: 5px;
}

/* Projetos */
.projects ul {
    list-style: none;
}

.projects li {
    margin-bottom: 15px;
}

.projects h3 a {
    color: #007BFF;
    text-decoration: none;
    font-size: 1.2em;
}

.projects h3 a:hover {
    text-decoration: underline;
}

/* Mensagens de Erro e Sucesso */
.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.message.error {
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.message.success {
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/*
